/*
Theme Name: luckiesDesign
Theme URI: http://www.globalindiatech.com/
Description: WordPress theme with Custom Menu, Header and Background along with Logo, Favicon, Featured Image,Facebook Open Graph, Google Custom Search Integration and more options.
Version: 1.0
Author: Global
Author URI: http://www.globalindiatech.com/
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, orange, light, one-column, two-columns, right-sidebar, custom-header, custom-background, custom-menu, editor-style, theme-options, threaded-comments, sticky-post, translation-ready, flexible-width, full-width-template, buddypress
*/

@import url("./css/bootstrap.css"); 
//@import url("./css/bootstrap-responsive.css"); 

button.luckiesdesign-nav-btn {
    display: none;
}

.about_grey_box {
    background: #f4f4f4;
    margin: 20px 0 30px;
    padding: 20px;
    text-align: center;
    width: 900px;
}

.headeing_border h2 {
    border-bottom: 1px solid #fb8b0f;
    color: #181213;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto -1px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
}
h2:after {
    content: " ";
}
.team_container {
    margin: 0 0 20px;
}
@media only screen and (min-width: 941px) {
    .team_container .span3 {
        margin: 0 20px 0 0
    }
    .team_container .span3:last-child {
        margin: 0;
    }
}
.team_container h5 {
    color: #1d1a1b;
    font-weight: 500;
    line-height: 18px;
    margin: 6px 0 0;
}
.team_container h5.orange_text {
    color: #fb8b0f;
}
.team_container p {
    color: #1e191a;
    font: 12px/18px arial;
    margin: 10px 0;
}
.team_container a, .luckies_user a {
    background: url("./images/bullet_arrow.png") no-repeat 0 50%;
    color: #fb8b0f;
    font: bold 12px Arial, Helvetica, sans-serif;
    padding: 0 0 0 17px;
}
.team_container img {
    border: 1px solid #d0d0d0;
}
.no_margin {
    margin: 0 !important;
}
.product_table_body {
    clear: both;
}
.grey_box {
    background: #f4f4f4;
    margin: 20px 0;
}
.basket_header {
    border-bottom: 1px solid #d1d1d1;
    padding: 0 23px 20px;
}
.basket_header h3 {
    color: #171516;
    font-size: 23px;
}
.btn_grey {
    background: #d0d0d0;
    border: none;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 25px;
    text-transform: uppercase;
}
.btn_orange {
    background: #fb8501;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 25px;
    text-transform: uppercase;
    width: 100% !important;
}
.basket_header .btn_orange {
    margin: 89px 0 0;
}
.product_table_hdr {
    border-bottom: 1px solid #d1d1d1;
    clear: both;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}
.product_table_hdr h3 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}
.span12.basket_body {
    margin: 0 3%;
    width: 94%;
}
.product_table_body {
    border-bottom: 1px dashed #d1d1d1;
    float: left;
    margin: 0 0 15px;
    padding: 0 0 15px;
    width: 100%;
}
.product_table_body p {
    margin: 7px 0 0 10px;
}
.product img {
    border: 1px solid #d0d0d0;
}
.product_table_body .span9.fr p:last-child {
    color: #939393;
    font-size: 11px;
}
.product_table_body select {
    border-radius: 0;
    width: 60%;
}
.bold {
    font-weight: bold !important;
}
.price {
    color: #fb8501;
    font-weight: bold;
}
.icon_remove {
    padding: 0 0 0 20px;
}
.white_box {
    border: 1px solid #d4d4d4;
    padding: 12px;
}
.fr {
    float: right !important;
}
.white_box input {
    border-radius: 0 !important;
    float: left !important;
}
.txt_white {
    color: #333;
    float: left;
    font-size: 14px !important;
    margin: 0 10px 0 0;
    padding: 16px 2px !important;
}
.width100 {
    float: left;
    width: 100%;
}
.white_box a {
    color: #595959;
}
.marg_left_10 {
    margin-left: 10px !important;
}
.orange_text {
    color: #fb8b0f !important;
}
.white_box h4 {
    float: left;
}
.text_right {
    text-align: right !important;
}
.heading {
    margin: 10px 0 0;
}
@media only screen and (max-width: 640px) {
    .team_container .span3 {
        margin: 0 0 30px 1% !important;
        width: 48% !important;
    }
}
@media only screen and (min-width: 641px) and (max-width: 900px) {
    .team_container .span3 {
        margin: 0 0 0 1% !important;
    }
}
.headeing_border {
    border-bottom: 1px solid #d1d1d1;
    float: left;
    margin: 0 0 20px;
    width: 100%;
    text-align: center;
}
.team_container h5 {
    background: url("./images/seperator.png") no-repeat 0 0;
    float: left;
    padding: 10px 0 0;
    width: 100%;
}
.team_container h5.orange_text {
    background: none;
    color: #fb8b0f;
    padding: 0;
}
.hidden_desktop {
    display: none;
}
@media only screen and (max-width: 900px) {
    .basket_header .span9, .basket_header .span3 {
        width: 100%;
    }
    .basket_header .btn_orange {
        margin: 20px 0 0;
    }
    .btn_grey {
        float: left;
        width: 100% !important;
    }
    .hidden_tab {
        display: none !important;
    }
    .remove {
        float: right !important;
        margin: 0 20px 0 0 !important;
    }
    .promotion_code {
        display: none !important;
    }
    .delivery_billing {
        float: left !important;
        width: 100% !important;
    }
    .visible_tablet {
        display: block !important;
    }
    .visible_tablet input, .visible_tablet p {
        float: left;
    }
    .basket_page {
        float: left !important;
        margin: 0 5% !important;
        width: 90% !important;
    }
}
.blog_left {
    float: left;
}
.row-fluid .span6.blog_right {
    float: right;
}
.blog_container .small_blog:last-child {
    float: right !important;
}
h5.suggesstion {
    background: url("./images/icon_suggesstion.jpg") no-repeat 0 50%;
    font-size: 13px;
    float: left;
    padding: 0 0 0 15px;
    width: 100%;
}
.blog_container p {
    color: #606060;
    font-size: 13px;
}
.blog_container p.small_fonts {
    font-size: 11px;
}
h4.seperator {
    background: url("./images/seperator.png") no-repeat 0 0;
    float: left;
    padding: 10px 0 0;
    width: 100%;
}
.blog_container {
    float: left;
    margin: 0 0 20px;
    width: 100%;
}
.blog_header .span4 {
    float: left !important;
    margin: 0 1.4% 0 0;
}
.blog_header select, .sel_dark {
    background-color: #5e5e5e;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    height: 40px;
    padding: 10px 25px;
    text-transform: uppercase;
}
.icon_archive {
    background: url("./images/icon_archive.png") no-repeat 5px 50%;
}
.icon_categories {
    background: url("./images/icon_category.png") no-repeat 5px 50%;
}
.search_blog {
    background: #f0efed;
    border: 1px solid #d1d1d1;
    height: 40px;
}
.search_blog input {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
}
.txt_search {
    float: left;
    margin: 6px 7px 0 0;
    text-transform: uppercase;
    width: 84%;
}
.btn_search {
    background: url("./images/icon_search.png") no-repeat 0 0 !important;
    float: right;
    height: 15px;
    margin: 11px 10px 0 0;
    width: 17px !important;
}
.blog_header {
    margin: 0 0 20px;
}
@media only screen and (max-width:800px) {
    .blog_container .span6 {
        text-align: center;
        width: 100% !important;
    }
    h5.suggesstion {
        clear: both;
        float: none;
        margin: auto;
        width: 89px;
    }
    .search_blog {
        width: 100% !important;
    }
    .luckies_blog .icon_archive, .luckies_blog .icon_categories {
        height: 91px !important;
        line-height: 91px !important;
        margin: 0 0 20px 1% !important;
        padding: 35px 24px !important;
        width: 48% !important;
    }
    .luckies_blog {
        float: left;
        margin: 0 5%;
        width: 90%;
    }
    .txt_search {
        width: 74% !important;
    }
    .blog_container p.small_fonts {
        border-top: 1px dashed #d1d1d1;
        padding-top: 10px;
    }
    .luckies_Checkout, .luckies_contact, .luckies_user, .luckies_blog_detail {
        float: left;
        margin: 0 5%;
        width: 90%;
    }
    .luckies_Checkout .span8, .luckies_Checkout .span3, .luckies_Checkout .span9, .luckies_contact .span6, .luckies_contact .span5, .luckies_contact .chk_right .span6, .row-fluid .span4.con_detail, .faq .span6, .luckies_user .span4, .luckies_user .span8, .luckies_blog_detail .span8, .luckies_blog_detail .span4 {
        float: left !important;
        width: 100% !important;
    }
    .luckies_blog_detail h2 {
        font-size: 17px !important;
        text-align: center !important;
    }
    .luckies_blog_detail .nav-tabs > li > a, .luckies_blog_detail .nav-pills > li > a {
        padding-left: 32px;
        padding-right: 32px;
    }
    .row-fluid .span4.con_detail {
        margin: 0 !important;
    }
    .luckies_Checkout label {
        text-align: left !important;
    }
    .checkout_cont .span9.c_right.box_standard_del {
        margin: 0 !important;
        width: 100% !important;
    }
    .checout_footer {
        margin: 20px 0 0;
        padding: 20px 0 0 0 !important;
        width: 100% !important;
    }
    .luckies_Checkout .checout_footer .btn_orange {
        width: 100% !important;
    }
    .con_detail .text_right:first-child {
        text-align: left !important;
    }
    .luckies_contact h4 {
        color: #fb8b0f;
        font-weight: normal;
        height: auto !important;
        text-align: center;
        text-transform: none !important;
    }
    .contact_left p, .contact_right p {
        text-align: center;
    }
    .luckies_contact.row-fluid p .span6 {
        width: 48.9362% !important;
    }
}
.luckies_Checkout h3 {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}
.checkout_cont h1 {
    font-size: 26px;
    line-height: 26px;
    margin: 0;
}
.c_right label {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0 2% 0 0;
    width: 32%;
}
.chk_right .txt_checkout, .chk_right .txt_postcode {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    float: left;
    height: 23px;
    width: 95%;
}
.sel_checkout, .sel_chk_half {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
}
.chk_right .txt_postcode {
    width: 44%;
}
.chk_right .btn_postcode, .product_info a {
    background: #6a6a6a;
    border: none;
    color: #fff;
    float: right;
    height: 33px;
    text-transform: uppercase;
    width: 44%;
}
.aestrick {
    color: #ff9527;
}
.span9.c_right.box_standard_del {
    border: 1px solid #d1d1d1;
    float: left;
    margin: 0 0 0 10% !important;
    width: 64% !important;
}
.box_standard_del h4, .order_summary h4 {
    background: #efefef;
    margin: 0 0 10px;
    padding: 10px 5%;
    width: 90.2%;
}
.box_standard_del .width100 {
    margin: 0 5%;
    width: 90%;
}
.box_standard_del p, .box_standard_del input {
    float: left;
    font-size: 12px;
}
.box_standard_del p span {
    font-size: 11px;
}
.box_standard_del input {
    margin: 3px 7px 0 0;
}
.checkout_cont {
    border-bottom:1px solid #151515;
    margin: 0 0 20px;
    padding: 0 0 20px;
}
.luckies_Checkout .chk_right {
    float: right !important;
}
.checkout_white_box {
    border: 1px solid #d1d1d1;
    float: left;
    margin: 0 0 10px;
    padding: 4px 5%;
    width: 90%;
}
.checkout_white_box input, .checkout_white_box span {
    float: left;
}
.checkout_white_box input {
    margin: 7px 5px 0 0;
}
.checkout_white_box span {
    margin: 3px 0 0;
}
.checkout_white_box a {
    margin: 0 2px 0 0;
}
.sel_chk_half {
    margin: 0 2% 10px 0;
    width: 46%;
}
.cv {
    float: left;
    margin: 0 0 5px 0;
    width: 100%;
}
.cv span {
    float: left;
    font-size: 12px;
    margin: 0;
}
.cv input {
    float: left;
    margin: 3px 6px 0 0;
}
.order_summary {
    border: 1px solid #d1d1d1;
    margin: 0 0 10px;
}
.order_summary .width100 {
    padding: 0 5%;
    width: 90%;
}
.order_summary .total {
    border-top: 1px solid #d1d1d1;
    clear: both;
    float: left;
    padding: 8px 5%;
    width: 90%;
}
.order_summary .width100 span {
    font-size: 12px;
    font-weight: bold;
}
.order_summary .total span {
    float: left;
    width: 100%;
}
.text_center {
    text-align: center !important;
}
.checkout_cont:last-child {
    border: none;
}
.checout_footer {
    border-top: 1px solid #151515;
    float: left;
    padding: 20px 0 0 32%;
    width: 68%;
}
.checout_footer .btn_orange {
    padding: 7px 75px;
    width: auto !important;
}
.checout_footer p {
    font-size: 12px;
    margin: 10px 0;
}
textarea.txt_checkout {
    height: 50px;
}
.luckies_contact .chk_right .span6 {
    margin: 0 2% 0 0;
    width: 48%;
}
.luckies_contact .chk_right .txt_checkout, .luckies_contact .chk_right .txt_postcode {
    width: 96%;
}
.luckies_contact .chk_right .btn_postcode {
    width: 100%;
}
.icon_social {
    float: left;
    height: 33px;
    width: 33px;
}
.facebook {
    background: url("./images/icon_facebook.jpg") no-repeat 0 0;
}
.twiiter {
    background: url("./images/icon_twitter.jpg") no-repeat 0 0;
}
.google_plus {
    background: url("./images/icon_google_pluss.jpg") no-repeat 0 0;
}
.pintrest {
    background: url("./images/icon_pintrest.jpg") no-repeat 0 0;
}
.t {
    background: url("./images/icon_t.jpg") no-repeat 0 0;
}
.vimeo {
    background: url("./images/icon_vimeo.jpg") no-repeat 0 0;
}
.you_tube {
    background: url("./images/icon_you_tube.jpg") no-repeat 0 0;
}
.insta {
    background: url("./images/icon_insta.jpg") no-repeat 0 0;
}
.rss_feed {
    background: url("./images/icon_rss_feed.jpg") no-repeat 0 0;
}
.luckies_contact .grey_box {
    padding: 10px 3%;
    width: 94%;
}
.con_detail h4 {
    border-bottom: 1px dashed #d1d1d1;
    font-size: 17px;
    height: 50px;
}
.con_detail p {
    font-weight: 600;
}
.icon_phone {
    background: url("./images/icon_ph.jpg") no-repeat 0 50%;
    padding: 0 0 0 20px;
}
.icon_email {
    background: url("./images/icon_message.jpg") no-repeat 0 50%;
    padding: 0 0 0 20px;
}
.row-fluid .span4.con_detail {
    margin: 0 1% 0 0;
    width: 32.3%;
}
.text_upper {
    text-transform: uppercase !important;
}
.luckies_login .span6 h2 {
    float: left;
}
#interventions a.collapsed label, #interventions1 a.collapsed label {
    background: url("./images/arrow_down.jpg") no-repeat 100% 50%;
    color: #191919;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    margin: 2px 0 0;
    text-align: left !important;
    text-transform: uppercase;
}
#interventions a label, #interventions1 a label {
    background: url("./images/arrow_up.jpg") no-repeat 100% 50%;
    color: #fb8b0f;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    margin: 2px 0 0;
    text-align: left !important;
    text-transform: uppercase;
}
.accordion-toggle.collapsed {
    background: #f2f2f2;
    border: 1px solid #d6d6d6;
}
.accordion-toggle {
    background: #fff;
}
#interventions .accordion-toggle.achievement label, #interventions .accordion-toggle.achievement.collapsed label, #interventions1 .accordion-toggle.achievement label, #interventions1 .accordion-toggle.achievement.collapsed label {
    background: url("./images/arrow-right.jpg") no-repeat 0 50% #fff;
    color: #202020;
    padding: 0 0 0 20px;
    text-transform: none;
}
.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
}
.prod_tab .bullet_list {
    float: left;
    margin: 0;
}
.prod_tab .bullet_list li {
    background: url("./images/bullet_dash.jpg") no-repeat 0 50%;
    color: #333;
    font-weight: 600;
    padding: 0 0 0 20px;
}
ul {
    list-style: none;
    padding: 0;
}
.tab-content {
    font-size: 12px;
}
.luckies_product .chk_right {
    width: 100%;
}
.luckies_product select {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    width: 100%;
}

.prod_right {
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    font-size: 12px;
    margin: 0 0 30px;
    padding: 0 2% 15px !important;
    width: 28% !important;
}
.prod_right .white_box {
    padding: 0 5%;
    width: 90%;
}
.out_of_stock {
    background: url("./images/icon_out_of_stock.jpg") no-repeat 0 5px;
    font-size: 13px;
    padding: 5px 0 5px 23px;
}
/**************************************/


a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}
/* Container */
/*
.container-fluid {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
*/
/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}
/* Thumbnail Box */
.caption h4 {
    font-size: 1rem;
    color: #444;
}
.caption p {
    font-size: 0.75rem;
    color: #999;
}
.btn.btn-mini {
    font-size: 0.63rem;
}
/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    color: #ff7700;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 1;
    padding: 4px 0 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


.banner {
    border: 1px solid #d1d1d1;
    margin: 20px 0;
    padding: 0 20px;
    position: relative;
}
.banner .carousel-control.right {
    right: 15px;
}
.banner .carousel-control {
    position: absolute;
}
.banner .span5 {
    margin: 0 0 0 20px !important;
}
.banner p {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 20px;
}
.banner h3 {
    margin: 30px 0 20px;
}
.info_slider {
    color: #fff;
    text-align: center;
    position: relative;
}
.bg-1 {
    background: none repeat scroll 0 0 #FB8501;
    min-height: 340px;
}
.sl-slide-inner img {
    margin: 20px 0;
}
.sl-slide-inner p {
    font-size: 14px;
    line-height: 18px;
    float: left;
    margin: 10px 5%;
    width: 90%;
}
.sl-slide-inner a, .view_all {
    border: 1px solid #fff;
    margin: 0;
    padding: 5px 20px;
    color: #fff;
}
.ad_content h3 {
    color: #fff;
    margin: 0 0 0 15px;
}
.ad_content .view_all {
    margin: 0 15px 0 0;
}
.ad_content {
    margin: -40px 0 0;
    position: relative;
    z-index: 99;
}
.fl {
    float: left;
}
.marg_top_20 {
    margin-top: 20px !important;
}
.clear {
    clear: both;
    float: left;
    width: 100%;
}
.span6 .adv, .span6 .adv img {
    height: 161px;
}
.caro_detail h5 {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
    margin: 12px 0 6px 0;
    color: #181213;
}
.caro_detail h3 {
    color: #ff8302;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}
.icon_cart {
    background: url("./images/icon_cart.png") no-repeat 0 0;
    float: left;
    height: 34px;
    width: 34px;
}
.caro_detail .fr a {
    float: right;
    margin: 10px 0 0;
}
.gift_for_men {
    background: #f4f4f4;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    margin: 20px 0 0;
    padding: 30px 0;
    position: relative;
    z-index: 12;
}
.scratch_maps {
    background: #f4f4f4;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    padding: 30px 0;
}
.new_arrivals {
    background: #fff;
    margin: 0;
    padding: 30px 0;
    position: relative;
    z-index: 11;
}
.all_carusl h2 {
    float: left;
    text-align: left;
    margin-left: 3px;
}
.caro_detail {
    position: relative;
}
.product_info {
    background: #fff;
    clear: both;
    display: none;
    float: left;
    padding: 15px 5%;
    position: absolute;
    top: 52px;
    width: 90%;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99999;
}
.item:hover .product_info {
    display: block;
}
.item:hover .caro_detail {
    background: #fff;
}


/* ? */
body.archive .item:hover .caro_detail .width100 {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}
body.archive .item:hover .caro_detail h5{
    padding-left: .5em;
}
body.archive .item:hover .caro_detail .fr a {
 margin-left: 5px;
} 
body.archive .item .seperator {
    margin-bottom: 0;
}
body.archive .product_info {
    border-top: 2px dotted #eee;
}

.item:hover .caro_detail .width100 {
    padding: 0 0;
}

.all_carusl .pagination {
    margin: 0;
}
.box_grey_left, .scratch_maps .box_grey_left {
    background: #f4f4f4;
    height: 325px;
    position: relative;
    width: 188px;
    z-index: 10;
}
.new_arrivals .box_grey_left {
    background: #fff;
}
.slider-container .item img {
    position: relative;
    z-index: 1;
}
.product_info p {
    font-size: 13px;
    margin: 0 0 10px;
}
.product_info a {
    font-weight: bold;
    line-height: 33px;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}
.luckiehome {
    overflow: hidden;
}
.join_newsletter {
    border: 3px solid #ededed;
    margin: 20px auto;
    padding: 15px 10px;
    width: 608px;
}
.clr {
    clear: both;
}
.join_newsletter .txt_checkout, .join_newsletter .btn_postcode {
    height: 33px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 48%;
}
.join_newsletter .btn_postcode {
    border: 1px solid #6a6a6a;
}
.join_newsletter form {
    margin: 0;
}
.join_newsletter h4 {
    margin: 5px 0 0;
}
.join_newsletter {
    background: #f8f8f6;
}
.clear20 {
    clear: both;
    float: left;
    height: 20px;
    width: 100%;
}
.luckies_user h2 {
    float: left;
    text-align: left;
    width: auto;
}
.luckies_user .span4 .width100, .luckies_user .span8 .width100 {
    padding: 10px 3%;
    width: 94%;
}
.luckies_brand h4 {
    background-color: #5e5e5e;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin: 15px 0;
    padding: 0 14px;
    text-transform: uppercase;
}
.luckies_brand .sel_dark {
    font-weight: bold;
    padding: 10px 8px;
}
.brand {
    margin: 0 0 8px;
}
.brand input {
    float: left;
    margin: 4px 6px 0 0;
}
.brand span {
    float: left;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
.brand_left .btn_grey {
    width: 100%;
}
.border_top_grey {
    border-top: 1px solid #d1d1d1;
    margin: 20px 0;
}
.view-port .item img {
    border: 1px solid #d1d1d1 !important;
}
.brand_right .sel_checkout {
    width: auto;
}
.all_brand_products .span4 {
    margin: 0 2% 20px 0;
}

.all_brand_products .item:hover .caro_detail .width100 {
    width: 100%;
}
.caro_detail .product_info a:after {
    border-top: 1px dashed #d1d1d1;
    content: "";
    float: left;
    padding: 20px 0 0;
}
.item .seperator {
    background: url("./images/seperator.png") no-repeat scroll 0 0;
    float: left;
    height: 1px;
    margin: 15px 0 10px;
    width: 100%;
}
.btn_next_arrow {
    background: url("./images/arrow_next_orange.png") no-repeat 100% 5px;
    padding-right: 22px !important;
}
.btn_prev_arrow {
    background: url("./images/arrow_prev_orange.png") no-repeat 0 5px;
    padding-left: 22px !important;
}
.luckies_blog_detail .nav-tabs > li > a, .luckies_blog_detail .nav-pills > li > a {
    padding-left: 37px;
    padding-right: 37px;
    width: 49%;
}
blockquote {
    margin: 0;
}
blockquote .small_fonts {
    font-size: 11px;
}
blockquote h5 {
    margin: 0 0 4px;
}
.blog_info_right .tab-content {
    padding: 10px;
}
.blog_info_right blockquote {
    border-bottom: 1px solid #d1d1d1;
    margin: 0 0 7px;
    padding: 0 0 7px;
}
.blog_info_right blockquote:last-child {
    border-bottom: none;
}
.blog_info img {
    border: 1px solid #d1d1d1;
    width: 100%;
}
.toggle_win h1 {
    padding: 0;
    margin: 0;
    width: 100%;
}
.toggle_win h1 a {
    background-color: #5e5e5e;
    color: #fff;
    font-size: 13px;
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10%;
    text-transform: uppercase;
    width: 90%;
}
.bullet_list {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.bullet_list li {
    float: left;
    margin: 7px 2%;
    width: 96%;
}
.bullet_list a {
    background: url("./images/bullet_arrow.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    color: #151515;
    font-weight: 600;
    float: left;
    font-size: 12px;
    padding: 0 0 0 6%;
    width: 94%;
}
.toggle_win {
    border: 1px solid #5e5e5e;
}
#archive_win {
    display: none;
}
.arrow_up {
    background: url("./images/black_arrow_up.jpg") no-repeat 0 0;
}
.arrow_down {
    background: url("./images/black_arrow_down.jpg") no-repeat 0 0;
}
.icon_arrow_up_down {
    height: 9px;
    margin: 15px 10px 0 0;
    position: relative;
    width: 15px;
}
.luckies_blog_detail h2 {
    float: left;
    text-align: left;
    width: auto;
}
.luckies_blog_detail .headeing_border a {
    color: #151515;
    float: right;
    margin: 10px 0 0;
}
/********* header ******/
.top_hdr {
    background: #1e1a1b;
    height: 34px;
}
.top_hdr nav ul {
    float: left;
    margin: 0;
}
.top_hdr nav li {
    float: left;
}
.top_hdr nav li a {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    padding: 0 30px;
    text-transform: uppercase;
}
.top_hdr nav {
    float: left !important;
    width: auto !important;
}
.top_hdr nav li a:hover {
    background: #444;
    opacity: 1;
}
.top_hdr nav li:first-child a {
    margin-left: -20px;
}
.top_hdr nav li a.icon_register, .top_hdr nav li a.icon_login_pg {
    border-left: 1px solid #fff;
    padding: 0 15px 0 30px;
    text-transform: none;
}
.icon_register {
    background: url("./images/icon_register.jpg") no-repeat 8px 50%;
}
.icon_login_pg {
    background: url("./images/icon_login.jpg") no-repeat 8px 50%;
    border-right: 1px solid #fff;
}
.social_media_header a {
    border-right: 1px solid #fff;
    float: left;
}
.social_media_header a:hover {
    opacity: 0.7;
}
a.gbp {
    background: url("./images/dd_arrow.jpg") no-repeat 90% 50% #fff;
    color: #151515;
    float: right;
    font-size: 12px;
    font-weight: 600;
    line-height: 34px;
    padding: 0 30px 0 20px;
    text-transform: uppercase;
}
.search_blog.home_search {
    background: #fff;
    height: 34px;
    margin: 30px 0 0;
}
.search_blog.home_search .txt_search {
    margin: 3px 0 0;
}
.search_blog.home_search .btn_search {
    background: url("./images/icon_search.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0) !important;
    border-left: 1px solid #d1d1d1;
    float: left;
    margin: 0;
    padding: 17px 5px;
    width: 36px !important;
}
.basket {
    border-left: 1px solid #d1d1d1;
    float: right;
    margin: 7px 0;
    padding: 10px 0 1px 20px;
}
.hdr_basket {
    background: #e2e2e0;
    border: 1px solid #cfcfcf;
    text-align: center;
    width: 48px !important;
}
.hdr_basket span {
    float: left;
    padding: 3px 0;
    text-align: center;
    width: 100%;
}
.main_menu {
    float: left;
    width: 100%;
    border-left:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
}
.main_menu ul {
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    float: left;
    margin: 2px 0 0;
    width: 100%;
}
.main_menu li {
    float: left;
}
.main_menu li a {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: #303030;
    font-size: 13px;
    font-weight: 600;
    float: left;
    margin: -2px 0;
    padding: 14px 9px;
}
.main_menu li a:hover, .main_menu li a.active {
    border-bottom: 2px solid #f78105;
    border-top: 2px solid #f78105;
    text-decoration: none;
    color: #f78105;
}
.main_menu li a.bg_grey_menu {
    background: #e2e2e2;
}
.main_menu li a.bg_grey_menu:hover {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    background: #d2d2d2;
}
/* --- temp current highlighting --- */
body.term-gifts-for-him .main_menu .gifts-for-him a,
body.term-gifts-for-her .main_menu .gifts-for-her a,
body.term-scratch-map .main_menu .scratch-map a,
body.term-posters-prints .main_menu .posters-prints a,
body.term-travel .main_menu .travel a,
body.term-stationery .main_menu .stationery a,
body.term-kitchen-home .main_menu .kitchen-home a,
body.term-fun-gifts .main_menu .fun-gifts a{
    border-bottom: 2px solid #f78105;
    border-top: 2px solid #f78105;
    text-decoration: none;
    color: #f78105;
}

.luckiehome .product_info {
    width: 90%;
}
.luckiehome .item:hover .caro_detail .width100 {
    width: 100%;

}
.light_grey_bg {
    background: #eaeaea;
}
.light_grey_bg a, .light_grey_bg p, .light_grey_bg img, .light_grey_bg span {
    float: left;
    line-height: 50px;
    margin: 0;
}
.light_grey_bg span {
    font-weight: 600;
    margin: 0 10px;
}
.light_grey_bg p {
    font-size: 12px;
    font-style: italic;
}
.light_grey_bg p.small_fonts {
    font-style: normal;
    font-size: 11px;
    margin: 0 6px;
}
.dark_grey_bg {
    background: #6b6b6b;
}
.dark_grey_bg h3 {
    background: url("./images/foo_seperation.jpg") no-repeat 0 100%;
    color: #dfdfdf;
    font-size: 16px;
    float: left;
    padding: 0 0 10px;
    width: 100%;
}
footer .bullet_list li a {
    color: #dfdfdf;
    font-size: 13px;
    padding: 0 0 0 17px;
    width: auto;
}
.foo_pay {
    border: 1px solid #dfdfdf;
    float: left;
    height: 90px;
    margin: 43px 0 0;
    padding: 0 4%;
    width: 40%;
}
.foo_pay h4 {
    background: #6b6b6b;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: -15px 0 0;
    padding: 5px 10px;
    text-align: center;
}
footer .txt_checkout {
    border: none;
    background: #5d5d5d;
    color: #dfdfdf;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    float: left;
    width: 100%;
}
.btn_postcode {
    background: none;
    border: 2px solid #dfdfdf;
    color: #dfdfdf;
    padding: 5px 30px;
}
footer .row-fluid .span2 {
    width: 15.894%;
}
footer .foo_2 {
    margin: 0 0 0 1.8% !important;
}
.img.box {
    padding: 20px 0;
}
.footer_text {
    margin: 20px 0;
    float: left;
    width: 100%;
}
.footer_text a {
    color: inherit;
}

label.hidden {
    display: none;
}

#test-div1 .blog_header{
    display: none;
}

.wp-pagenavi .page-numbers{display: none;}
.wp-pagenavi .next.page-numbers{display: block;}
.woocommerce-account .post-header {display: none;}
.woocommerce-cart .post-header {display: none;}
#customer_details .col-2 {
    display: none;
}

.payment_methods.methods {
    list-style: none outside none;
}

.payment_box p {
    display: none;
}

.facebook-bw {
    background: url("./images/icon_facebook_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.twitter-bw {
    background: url("./images/icon_twitter_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.google-bw {
    background: url("./images/icon_google_pluss_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.pintrest-bw {
    background: url("./images/icon_pintrest_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.tumbler-bw {
    background: url("./images/icon_t_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.vimeo-bw {
    background: url("./images/icon_vimeo_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.youtube-bw {
    background: url("./images/icon_you_tube_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.instagram-bw {
    background: url("./images/icon_insta_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}
.rss-bw {
    background: url("./images/icon_rss_feed_w.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    text-indent: -9999px;
    width: 32px;
}


.span5 .amount {
    color: #000000;
}
.hdr_basket .cart-items {
    background: url(images/icon-basket.jpg) center center no-repeat;
    border-bottom: 1px solid #d0d0d0;
    height: 30px;
    width: 46px;
}

.hdr_basket .cart-contents {
    color: #000000;
}

.wooslider-control-thumbs li img {
    display: none;
}
.wooslider-control-thumbs li img.wooslider-active {
    display: block;
}
.foo_2 .bullet_list li{
    width: 30%;
    margin: 7px 1%;
}
.buttons_added .minus,.plus{display: none;}

.input-text.qty.text {
    width: 50%;
}

p.bold a {
    color: #000000;
    font-size: 14px;
}

.pagination_button {
    border-top: 1px solid #d4d4d4;
    float: left;
    padding-top: 10px;
    width: 100%;
}
.next.page-numbers {
    background: url("./images/arrow_next_orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.all_brand_products .span4:nth-child(3n) {
    margin: 0 0 20px;
}
.widget_price_filter .price_slider {
    margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}
.widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
}

.widget_price_filter .price_slider_amount .button {
    background: none repeat scroll 0 0 #f99a27;
    border: medium none;
    color: #fff;
    float: left;
    padding: 5px 20px;
}
.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    border: 1px solid #141741;
    cursor: pointer;
    background: #F99A27;
    outline: none;
    top: -0.2em;
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -0.5em;
}
.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #f2f2f2;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #d5d5d5;
}
.widget_price_filter .ui-slider-horizontal {
    height: .5em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

.widget.header-widget.widget_currency_converter {
    float: left;
}

.image-seperator{
    background: url("./images/img_sep.jpg") no-repeat scroll 0 0 transparent;
    width: 80%;
    margin: 0 auto;
    height: 25px;
}

.gift-slider .flex-control-nav{display: none;}
.gift-slider .flex-direction-nav a{position: relative; bottom: 235px; opacity: 1;}
.gift-slider .flex-direction-nav a.flex-prev{left: 0;}
.gift-slider .flex-direction-nav a.flex-next{right: 0;}
#category-crousel1 li {margin-left: 20px;}
#category-crousel1 li img {position: relative; z-index: 1;}
#category-crousel1.flexslider{border-color: #F4F4F4; box-shadow: none; background: none;}
#category-crousel2 li {margin-left: 20px;}
#category-crousel2 li img {position: relative; z-index: 1;}
#category-crousel3 li {margin-left: 20px;}
#category-crousel3 li img {position: relative; z-index: 1;}
#category-crousel3.flexslider{border-color: #F4F4F4; box-shadow: none; background: none;}
.new_arrivals #category-crousel2.flexslider{border-color: #FFF; box-shadow: none; background: none;}
.product-brands li {
    margin: 35px 20px;
    width: auto !important;
}
.product-brands .flexslider {
    height: 150px !important;
    margin-bottom: 10px;
    box-shadow: none;
}

.width100.brand-section {
    border-top: 3px solid #F4F4F4;
}

.wooslider.wooslider-type-slides.wooslider-theme-default {
    border: medium none;
    box-shadow: none;
}
.wooslider-control-nav.wooslider-control-paging{display: none;}

.category-archive {
    float: right;
    margin-top: 10px;
}

.category-archive a {
    color: #000;
}

#product-slider.flexslider {
    border: medium none;
    box-shadow: none;
}

.related-product .headeing_border h2{width: 265px;}

.related-product .all_brand_products.fr {
    float: none !important;
}
.nav.nav-tabs.TabsPostsTabs > li {
    text-align: center;
    width: 50%;
}

.width100.blog_tab_panel {
    margin-bottom: 15px;
}

.gift-slider .flex-prev {
    color: #fff;
    font-size: 54px;
}

.gift-slider .flex-next {
    color: #fff;
    left: 83%;
    bottom: 255px !important;
    font-size: 54px;
}

.width100.additional-info-container {
    border-bottom: 1px dashed #E4E4E3;
    border-top: 1px dashed #E4E4E3;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 20px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.width100.additional-info-container .additional-info:nth-child(1){
    text-align: left;
    margin: 0;
    border-right: 2px solid #f4f4f4;
}
.width100.additional-info-container .additional-info:nth-child(3){
    text-align: right;
    margin: 0;
    border-left: 2px solid #f4f4f4;
}

.all_carusl .flex-direction-nav {
    font-size: 45px;
}

.all_carusl .flex-direction-nav a{
    opacity: 1 !important;
    top: 40%;
    color: #fb8b0f;
}
.all_carusl .flex-direction-nav .flex-prev {
    left: -25px;
}

.all_carusl .flex-direction-nav .flex-next {
    right: -25px;
}
.all_carusl .flexslider:hover .flex-prev {
    left: -25px;
}

.all_carusl .flexslider:hover .flex-next {
    right: -25px;
}

.blog-section{
    padding-bottom: 30px;
}
.blog-section .headeing_border h2{
    width: 260px;
}
.blog-section .tab-content{
    border: none;
}

.blog-section .tab-content blockquote{
    margin: 7px 0;
}
.blog-section .span9.fr {
    padding-left: 10px;
}
.blog-section .tab-content {
    padding: 2px;
}

.blog-section blockquote h5 {
    color: #000;
}
.blog-section .span3.fl {
    width: 25%;
}
.span8.latest-post-main {
    border: 2px solid #f4f4f4;
    float: right;
    height: 258px;
}

.blog_tab_panel .nav-tabs li a.selected {
    background: none repeat scroll 0 0 #fb8b0f;
    color: #fff;
}
.post-title {
    border-bottom: 1px solid #f4f4f4;
    margin-left: 10px;
}
.post-title .orange_text {
    border-bottom: 1px solid #fb8b0f;
    padding-bottom: 5px;
}
.post-content {
    margin: 0 auto;
    width: 90%;
}
.blog_tab_panel .nav-tabs li a{
    background: none repeat scroll 0 0 #fff;
    color: #000;
    border: 1px solid #fb8b0f;
}

.product-brands .flex-direction-nav {
    font-size: 34px;
}

.product-brands .flex-direction-nav .flex-prev {
    left: -30px !important;
}

.product-brands .flex-direction-nav .flex-next {
    right: -30px !important;
}

.about_grey_box{margin: 0 0 30px !important;}
.breadcrumb {
    background: none repeat scroll 0 0 #fff;
    margin: 0;
}

.main_menu ul{margin: 0;}
.main_menu {background: #f4f4f4;}

.breadcrumb a {
    color: #fb8b0f;
}

/* accordion pane */
.accordion .pane {
    display:none;
}

.accordion.faq-catergory {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 1px solid #d6d6d6;
    margin-bottom: 0;
    padding-left: 15px;
    cursor: pointer;
    text-align: left;
}
.faq-category-name {
    font-size: 16px;
    margin: 0 12px 0 0;
}
.accordion.faq-post {
    border: 1px solid #d6d6d6;
    padding-left: 25px;
    margin-bottom: -1px;
}
.faq-question-title {
    font-size: 15px;
    margin: 0;
    text-align: left;
}
.faq-answer {
    font-size: 15px;
    font-weight: lighter;
    line-height: 22px;
    margin: 0 0 10px;
    padding-left: 15px;
    text-align: left;
}
nav.woocommerce-breadcrumb {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: -10px;
    color: #FF8300;
}
nav.woocommerce-breadcrumb a {
    font-weight: normal;
    color: #181213
}

.term-description {
    text-align: center;
}

.result-count p {
    margin-bottom: 14px;
    text-align: center;
    float: left;
}

hr.left-horizontal-line {
    float: left;
    margin-right: 12px;
    margin-top: 10px;
    width: 45%;
    border-top: 1px solid #D0D0D0;
}
hr.right-horizontal-line {
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    width: 45%;
    border-top: 1px solid #D0D0D0;
}

.variations_form.cart > h5 {
    border-top: 1px solid #d4d4d4;
    font-weight: lighter;
    margin: 3px 0;
    padding-top: 5px;
}
.woocommerce-message {
    float: left;
    margin-top: 15px;
}
.grey_box.cart-page{
    margin-top: 0;
}
.quantity .width100 .span5 {
    display: none;
}

.luckies_product .woocommerce-message {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d4d4d4;
    height: 45%;
    left: 35%;
    position: fixed;
    top: 35%;
    width: 30%;
    padding: 15px;
    z-index: 99;
    overflow: hidden;
}

.cloese-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-image: none;
    border-left: 1px solid #d6d6d6;
    border-radius: 50px;
    border-top: 1px solid #d6d6d6;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 8%;
    padding: 0;
    text-align: center;
    width: 5%;
}
section.slider {
    margin-top: 20px;
}

.succes-message.orange_text {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
    padding-left: 45px;
    text-align: left;
    width: 80%;
}
.price-to-pay {
    margin-top: 15px;
}
.product-image-popup {
    border: 1px solid #d4d4d4;
    display: inline-block;
    float: left;
    width: 50%;
    margin-right: 10px;
}
.continue-shopping {
    display: inline-block;
    color: #fff;
    background: #6b6b6b;
    width: 48%;
    text-align: center;
    padding: 7px 0;
    margin-top: 25px;
}
.continue-shopping.cart-page-link {
    background: #fb8b0f;
    float: right;
}
.email-a-friend-form{display: none;}
.email-a-friend {
    border: 1px solid #d4d4d4;
    padding: 10px;
}
.email-a-friend-input {
    width: 93%;
}
.email-a-friend-btn {
    background: none repeat scroll 0 0 #d4d4d4;
    border: medium none;
    font-weight: 900;
    padding: 10px 0;
    width: 100% !important;
}
.tell-a-friend {
    background: none repeat scroll 0 0 #d4d4d4;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 10px;
    padding: 7px 0;
    text-align: center;
}
.span2.remove{float: right;}
.span2.quantity{float: right;}
.span2.sub_total{float: right;}

.span7.white_box.promotion_code h3 {
    border-bottom: 1px solid #d4d4d4;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
}
.span7.white_box.promotion_code > p {
    margin-bottom: 20px;
    margin-top: 15px;
}
.promotion_code .input-text.span6 {
    border: 1px solid #d4d4d4;
}

.button.span5.btn_grey {
    height: 30px;
    margin-left: 20px;
    width: 30%;
}
.row-fluid .woocommerce-message {
margin: 0;
}
.row-fluid .woocommerce-message a {
color: #fb8501;
}
a.logo {
float:left;
margin:6px 0;
}
.additional-info {
height:30px;
line-height:30px;
}
.home .headeing_border h2 {
width: auto;
}


.product-extra-info .product-extra-info-part {
    width:50%;
    float:left;
}
.product-extra-info .product-extra-info-part ul {
    margin-left:0;
}
.product-extra-info .product-extra-info-part ul li {
    line-height:25px;
}
.product-extra-info .product-extra-info-part ul li:before {
    content: " ";
    height: 2px;
    width: 12px;
    background: #fb8501;
    display: inline-block;
    position: relative;
    top: -3px;
    margin-right: 10px;
}



/* ---  erika --- */


/* --- product categories --- */
body.tax-product_cat .grey_box {
    padding: 30px 40px;
    background: #F4F4F4 url(images/triangle-orange-down-large.png) center 92% no-repeat;
}


nav#luckiesdesign-primary-menu {
    min-width: 564px;
}
#header #currency_converter {
    background: #fff;
    margin: 0;
}
#header #currency_converter select {
    width: 80px;
    height: 34px;
    margin: 0;
    background: #fff url(images/triangle-orange-small.jpg) 85% center no-repeat;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    padding: 2px 15px 8px 15px;
    font-size: 12px;
    font-weight: 600;
    color: #181213;
}
a.logo {
    margin: 10px 0;
}
/* --- header hearch --- */
#header .span6.col2 {
    float: right;
    margin:20px 0 0 0;
}
#header-search form {
    border: 1px solid #d0d0d0;
    overflow: hidden;
    background:#fff;
    margin: 20px 15px 0 0 
}
#header-search form input {
    margin: 0!important;
    padding: 6px 7px!important;
    border:none;
    background:#fff;
}
#header-search form input:active {
    outline: none;
}
#header-search form input[type="search"] {
    float: left;
    width: 75%;
}
#header-search form input[type="submit"] {
    border: none;
    border-left: 1px solid #d0d0d0;
    height: 32px;
    width: 42px!important;
    background: url(images/icon_search.png) center center no-repeat!important;
}

/* ---- header basket --- */
#header-basket {
    border-left:1px solid #d0d0d0;
    padding-left: 20px;
    float:right;
}
#header-basket h4 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    color: #2C2C2C;
    margin: 0;
    padding: 9px 0 0 0;
    float:left;
}
#header-basket h4 a {
    display: block;
    color: #2C2C2C;
}
#header-basket .cart-items {
    border:1px solid #d0d0d0;
    float:right;
    background: #EFEFED url(images/icon-basket.jpg) center top no-repeat;
}
#header-basket .cart-items a.cart-contents {
    display:block;
    border-top:1px solid #d0d0d0;
    padding: 5px 20px 6px 20px;
    margin-top:30px;
    font-size:13px;
    font-weight: 700;
    color: #2C2C2C;
    background: #E2E2E1;
}

/* --- secondary nav --- */
.main_menu li.filter{
    background: #e2e2e2;
    float: right;
}
.main_menu li.filter.show-all {
    border-left: 1px solid #D0D0D0;
}

.result-count {
    font-size: 13px;
}

/* --- select fields --- */
select.orderby, select.wppp-select {
    width: 220px;
    font-size:12px;
    font-weight: 700;
    margin:0;
    padding:0 12px;
    color: #1E1919;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #120E0F;
    background: #fff url(images/arrow-orange-down-med.png) 95% center no-repeat;
}

/* --- footer --- */
footer .row-fluid [class*="span"] {
    margin-left: 2.127659574468085%;
}
.width100.brand-section {
    border-top: 1px solid #E7E7E9;
}
.width100.brand-section li {
    margin: 0 25px;
}
.product-brands .flexslider {
    height: auto!important;
    margin: 0;
    padding: 6px 0;
}
.l-row {
    overflow: hidden;
    clear: both;
}
footer .dark_grey_bg {
    padding-bottom:30px;
}
footer .dark_grey_bg h3 {
    font-size: 13px;
    padding: 10px 0 2px 0;
    background: url(images/title-border-1px.jpg) bottom left no-repeat;
}
footer .bullet_list li {
    margin: 0 0 7px 0;
}
footer .categories li {
    width: 33%;
    float: left;
}
footer .bullet_list li a {
    font-size:13px;
    color:#fff;
    font-weight:normal;
}
footer h4.text_upper {
    text-transform: capitalize!important;
    font-size: 15px;
    color:#fff;

}
.footer_text {
    font-size: 12px;
}

/* --- twitter feed --- */
#twitter-feed .span12 {
    padding-left: 70px;
    background: url(images/twitter-feed.jpg) center left no-repeat;
}
.rotatingtweet p.rtw_main {
    margin: 0!important;
    font-size: 13px;
}
.rotatingtweet p.rtw_main a{
    color:#FF7F00;
}

/* --- footer subscribe form placeholder --- */
footer p.sub {
    clear: both;
    font-size: 13px;
    padding: 0 0 0 6%;
    color: #fff;
    background: url(images/bullet_arrow.png) center left no-repeat;
}
footer form input {
    width: 100%;
    font-size: 12px!important;
    padding: 7px!important;
    color: #fff!important;
    border: none;
    background: #5D5D5D;
}
footer ::-webkit-input-placeholder {
   color: #fff!important;
}
footer :-moz-placeholder { /* Firefox 18- */
   color: #fff!important; 
}
footer ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff!important;
}
footer :-ms-input-placeholder {  
   color: #fff!important; 
}
footer input[type="submit"] {
    font-weight:bold;
    padding: 5px 30px!important;
    margin-bottom: 6px;
    background:none;
    border:2px solid #fff;
}
