/**
* luckiesDesign Admin CSS
*/
/* Utility Classes */
.show { display: block; }

.hide, .hidden { display: none; }

.clear { clear: both; content: '\0020'; display: block; height: 0; visibility: hidden; overflow: hidden; width: 0; }

/* The Magnificent "Clear" fix */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ' '; display: table; }
.clearfix:after { clear: both; }

/* Theme Option Container */
.luckiesdesign-admin { overflow: hidden; width: 76%; }
.luckiesdesign-admin h2 { border-bottom: 1px solid #cccccc; padding-bottom: 0; }
.luckiesdesign-admin .updated p { background-color: #FFFFE0; border: 1px solid #E6DB55; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 auto; padding: 7px; width: 95%; }

#icon-luckiesdesign { background: url("../../images/luckiesdesign-icon.jpg") no-repeat; }

.nav-tab { margin: 0 5px -1px 0; }
h2 .nav-tab { font-size: 20px; padding: 4px 6px; }

.options-main-container { border: 1px solid #cccccc; border-top: 0; margin-bottom: 15px; overflow: hidden; padding: 0; }

.options-container { margin: 5px 10px; overflow: hidden; padding: 0; }

#wpbody #wpbody-content .metabox-holder { margin-bottom: 10px; padding: 10px 0 0; width: 100%; }
#wpbody #wpbody-content .metabox-fixed { clear: both; margin: 0 10px 0 0; width: 22%; }

/* Theme Options Inside Style */
.inside { overflow: hidden; }
.inside .image-uploader { float: left; overflow: hidden; width: 395px; }
.inside .image-preview { margin: 0 auto; overflow: hidden; text-align: center; }
#poststuff .postbox .inside p { margin: 0 0 5px; }
#poststuff .postbox .inside p.login-head { margin-top: 10px; }
#poststuff .postbox .inside th p { font-size: 11px; margin-bottom: 8px; }
.postbox .inside h3, .postbox .inside h3:hover { background: transparent; cursor: default; display: none; }

#logo_metabox img { display: block; margin: 0 auto; max-width: 120px; }
.has-right-sidebar .inside #logo_metabox img { max-width: 230px; width: 100%; }

.postbox { min-width: 175px; }

.luckiesdesign-admin div.updated, .luckiesdesign-admin div.error { background: transparent; border-bottom: 0; border-left: 1px solid #cccccc; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; border-right: 1px solid #cccccc; border-top: 0; display: block; margin: 0; padding: 10px 0; text-align: center; }
.luckiesdesign-admin div.error p { background: #ffebe8; border: 1px solid #C00; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin: 0 auto; padding: 7px; width: 95%; }

.admin-main-heading h2 { border-bottom: 1px solid #EAEAEA; font-size: 153.9%; padding: 14px 0 3px; }

.admin-sub-module { clear: both; overflow: hidden; }

.admin-or { color: #888; display: block; float: left; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 153.9%; font-style: italic; padding: 30px 25px 30px 0; }

/* Logo and Favicon style */
.logo-upload, .logo-url, .fav-upload, .fav-url { display: block; float: left; height: 100px; padding: 0 25px 0 0; }

.logo-url, .fav-url { width: 200px; }

.logo-preview, .fav-preview { display: block; float: left; }

.fav-preview { padding: 33px 0 0; }

#logo, #logo_url, #fav, #fav_url { clear: both; }

.feedburner { padding: 22px 0; }

.custom-search-main { padding: 22px 0 0; }

.custom-search-scripts { padding: 10px 0 0; }
.custom-search-scripts textarea { margin-bottom: 10px; margin-left: 6px; vertical-align: middle; }

.post-meta-common { margin-left: 30px; }


.feedburner label, .custom-search-main label { padding: 0 0 3px; }

.feedburner label, .custom-search-main label { padding: 0 0 3px; }

.inner-sidebar { width: 50% !important; }
.inner-sidebar #side-sortables { width: 99.7% !important; }

#gravatar_size { width: 120px; }


/* Meta style */
a.regenerate_thumbanil_notice_close { text-decoration: none; }

.postbox-title-action { position: absolute; right: 35px; top: 0; }

.form-table * { word-wrap: break-word; }
.form-table th { width: 170px; }
.has-right-sidebar .form-table td.img-url, .has-right-sidebar .form-table td.img-preview { float: left; }
.form-table label { font-size: 13px; }
.form-table label .example { font-size: 100%; }
#post_thumbnail_options .form-table label { margin: 0 20px 0 0; }
#google_search .form-table label { line-height: 20px; }
.form-table a { text-decoration: none; }

input { outline: none; }
input.reset-link { background: transparent; border: 0; color: #006999; }
input.reset-link:hover { cursor: pointer; text-decoration: underline; }
input[type=checkbox], input[type=radio] { margin: 1px 5px 1px 1px; }
input .button-link { background: transparent; border: 0; color: #006999; cursor: pointer; }
input .button-link:hover { color: #cd5a1b; }
input[disabled][type=text], input[disabled][type=radio], input[disabled][type=checkbox] { background-color: Silver; }

textarea[disabled] { background-color: Silver; }

.postbox [type=text], stuffbox [type=text] { padding: 5px; width: auto; }
.has-right-sidebar .postbox [type=text], .has-right-sidebar stuffbox [type=text] { width: 98%; }
.postbox textarea, stuffbox textarea { color: #333333; padding: 5px; }
.has-right-sidebar .postbox textarea, .has-right-sidebar stuffbox textarea { width: 98%; }

.luckiesdesign_submit { padding: 10px 0; text-align: right; }

.expand-collapse { background: #cccccc; color: #333333; float: right; font-size: 85%; padding: 5px 8px; text-decoration: none; }
.expand-collapse:hover { text-decoration: underline; }

